apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: deluge
  namespace: media
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "5m"
    external-dns.alpha.kubernetes.io/target: "lga1.desertbluffs.com"
spec:
  tls:
    - hosts:
        - a.desertbluffs.com
  rules:
    - host: a.desertbluffs.com
      http:
        paths:
          - path: /
            backend:
              serviceName: deluge
              servicePort: deluge
