---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: pms
  namespace: media
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/enable-global-auth: "false"
    external-dns.alpha.kubernetes.io/target: "desertbluffs.com"
spec:
  tls:
    - hosts:
        - e.desertbluffs.com
  rules:
    - host: e.desertbluffs.com
      http:
        paths:
          - backend:
              serviceName: pms
              servicePort: 32400
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: pms-webtools
  namespace: media
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
    - hosts:
        - b.desertbluffs.com
  rules:
    - host: b.desertbluffs.com
      http:
        paths:
          - backend:
              serviceName: pms
              servicePort: webtools
